@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,700,300i,600i,700i|Raleway:600,800");

/* ==========================================================================
   CSS Reset
   ========================================================================== */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

/* ==========================================================================
   Base Styles
   ========================================================================== */

html {
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 18pt;
}

@media screen and (max-width: 1920px) {
  html {
    font-size: 13pt;
  }
}

@media screen and (max-width: 1152px) {
  html {
    font-size: 14pt;
  }
}

@media screen and (max-width: 736px) {
  html {
    font-size: 12pt;
  }
}

@media screen and (max-width: 480px) {
  html,
  body {
    min-width: 320px;
  }
  html {
    font-size: 11pt;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #ffffff;
  color: #ffffff;
  overflow-x: hidden;
  line-height: 1;
}

body.is-preload *,
body.is-preload *:before,
body.is-preload *:after {
  animation: none !important;
  transition: none !important;
}

/* ==========================================================================
   Typography
   ========================================================================== */

body {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.0375em;
  line-height: 2;
}

a {
  transition: border-bottom-color 0.25s ease-in-out;
  text-decoration: none;
  color: #ffffff;
  border-bottom: dotted 1px;
}

a:hover {
  text-decoration: none;
  border-bottom-color: transparent;
}

strong,
b {
  font-weight: 600;
  color: #ffffff;
}

em,
i {
  font-style: italic;
}

p {
  margin: 0 0 2rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
  font-family: "Raleway", Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: 0.175em;
  line-height: 1.75;
  margin: 0 0 1.5rem 0;
  text-transform: uppercase;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #000000;
  text-decoration: none;
}

h1 {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: -0.05em;
  line-height: 1.1;
  margin: 0 0 1.5rem 0;
  text-transform: none;
}

h2 {
  font-size: 1.25rem;
  font-weight: 800;
  margin: 0 0 2rem 0;
}

h3 {
  font-size: 0.875rem;
}

@media screen and (max-width: 736px) {
  h1 {
    font-size: 4.5rem;
    line-height: 1.1;
  }
  h2 {
    font-size: 1.25rem;
    line-height: 1.7;
  }
  h3 {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 360px) {
  h1 {
    font-size: 3.75rem;
  }
  h2 {
    font-size: 1.125rem;
  }
  h3 {
    font-size: 0.8rem;
  }
}

/* ==========================================================================
   Images
   ========================================================================== */

.image {
  border: 0;
  display: inline-block;
  position: relative;
}

.image img {
  display: block;
}

.image[data-position] img {
  object-fit: cover;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image[data-position="center"] img {
  object-position: center;
}

.image.main {
  display: block;
  margin: 3rem 0;
  width: 100%;
}

.image.main img {
  width: 100%;
}

.image.main:first-child {
  margin-top: 0;
}

.image.fill {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.image.fill img {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* ==========================================================================
   Actions (for scroll arrow)
   ========================================================================== */

ul.actions {
  display: flex;
  cursor: default;
  list-style: none;
  margin-left: -1rem;
  padding-left: 0;
}

ul.actions li {
  padding: 0 0 0 1rem;
  vertical-align: middle;
}

/* ==========================================================================
   Arrow
   ========================================================================== */

a.arrow {
  border-bottom: 0;
  display: inline-block;
  height: 4rem;
  position: relative;
  width: 6rem;
}

a.arrow .label {
  display: none;
}

a.arrow:before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 512 512'%3E%3Cpath d='M442.53,346.28L293.65,495.16c-0.33,0.33-0.7,0.62-1.05,0.94c-9.16,9.77-22.15,15.9-36.6,15.9 c-14.44,0-27.43-6.13-36.59-15.88c-0.35-0.33-0.72-0.62-1.06-0.96L69.47,346.28c-19.62-19.62-19.62-51.44,0-71.05 c19.62-19.62,51.43-19.62,71.06,0l65.23,65.23V50.24C205.76,22.5,228.25,0,256,0s50.24,22.5,50.24,50.24v290.21l65.23-65.23 c19.62-19.62,51.43-19.62,71.05,0C462.15,294.84,462.15,326.66,442.53,346.28z' fill='%23ffffff' /%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: inline-block;
  height: 100%;
  position: relative;
  width: 3rem;
}

/* ==========================================================================
   Wrapper & Layout
   ========================================================================== */

#wrapper {
  position: relative;
  width: 100vw;
  padding: 0 0 10rem 0;
}

#wrapper:before {
  background-attachment: fixed;
  background-color: #fb0404;
  background-position: -50% 10%;
  background-repeat: repeat-y;
  background-size: 75% auto;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 50vw;
  z-index: -1;
  transition: opacity 1s ease;
}

body.is-preload #wrapper:before {
  opacity: 0;
}

#wrapper section {
  display: grid;
  grid-template-areas: "header content" "footer content";
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 1fr;
  margin: 7.5rem 0 0 0;
}

#wrapper section:first-child {
  margin-top: 0;
}

#wrapper section > header {
  grid-area: header;
  justify-self: end;
  text-align: right;
  padding: 0 10rem 0 5rem;
  width: 35rem;
}

#wrapper section > header h2 {
  margin: 0 0 5rem 0;
}

#wrapper section > header h1 + p {
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.175em;
  line-height: 2.5;
  text-transform: uppercase;
}

#wrapper section > header ul.actions {
  justify-content: flex-end;
}

#wrapper section > .content {
  grid-area: content;
  max-width: 60rem;
  position: relative;
  padding: 0 5rem;
}

/* Section Header Decorative Lines */

#wrapper > section {
  position: relative;
}

#wrapper > section > header:before {
  background: #ffffff;
  content: "";
  display: block;
  margin-top: 1rem;
  position: absolute;
  width: 2px;
  height: calc(100% + 10rem);
  left: calc(50vw - 5rem);
}

#wrapper > section > header h1,
#wrapper > section > header h2 {
  position: relative;
}

#wrapper > section > header h1:before,
#wrapper > section > header h2:before {
  background: #ffffff;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  top: 1rem;
  right: -5rem;
  width: 2.5rem;
}

#wrapper > section > header h1:after,
#wrapper > section > header h2:after {
  background: #ffffff;
  border-radius: 0.5rem;
  content: "";
  display: block;
  height: 0.5rem;
  position: absolute;
  top: 0.75rem;
  width: 0.5rem;
  right: -2.5rem;
}

#wrapper > section > header h1 {
  margin-top: -2rem;
}

#wrapper > section > header h1:before {
  top: 3rem;
}

#wrapper > section > header h1:after {
  top: 2.75rem;
}

/* Nested Sections */

#wrapper > section > .content > section {
  position: relative;
  left: calc(-50vw - 5rem);
}

#wrapper > section > .content > section:first-child {
  margin-top: 6rem;
}

#wrapper > section > .content > section > header {
  width: 32rem;
}

/* Intro Section */

#wrapper > section.intro {
  align-items: center;
  transition: opacity 1s ease;
  opacity: 1;
}

body.is-preload #wrapper > section.intro {
  opacity: 0;
}

#wrapper > section.intro > header {
  padding-top: 4rem;
  width: 100%;
  transition: transform 1s ease;
}

body.is-preload #wrapper > section.intro > header {
  transform: translateY(1rem);
}

#wrapper > section.intro > header > * {
  margin-left: auto;
  width: 20rem;
}

#wrapper > section.intro > header:before {
  left: auto;
  margin-left: calc(50vw - 10rem);
}

#wrapper > section.intro > .content {
  height: 100vh;
  max-width: none;
  transition: transform 1s ease;
}

body.is-preload #wrapper > section.intro > .content {
  transform: translateY(-1rem);
}

/* Last Section Footer Dot */

#wrapper > section:last-of-type > header:before {
  height: 100%;
}

#wrapper > section:last-of-type > header:after {
  background: #ffffff;
  border-radius: 0.5rem;
  bottom: -1.5rem;
  content: "";
  display: block;
  height: 0.5rem;
  position: absolute;
  width: 0.5rem;
  z-index: 1;
  left: calc(50vw - 5rem - 0.25rem + 1px);
}

/* ==========================================================================
   Responsive: Large (max-width: 1280px)
   ========================================================================== */

@media screen and (max-width: 1280px) {
  #wrapper {
    padding: 0 0 8rem 0;
  }

  #wrapper section {
    margin: 6rem 0 0 0;
  }

  #wrapper section > header {
    padding: 0 8rem 0 4rem;
    width: 33rem;
  }

  #wrapper section > .content {
    padding: 0 4rem;
  }

  #wrapper > section > header:before {
    height: calc(100% + 8rem);
    left: calc(50vw - 4rem);
  }

  #wrapper > section > header h1:before,
  #wrapper > section > header h2:before {
    right: -4rem;
    width: 2rem;
  }

  #wrapper > section > header h1:after,
  #wrapper > section > header h2:after {
    right: -2rem;
  }

  #wrapper > section > .content > section {
    left: calc(-50vw - 4rem);
  }

  #wrapper > section > .content > section > header {
    width: 30rem;
  }

  #wrapper > section.intro > header > * {
    width: 21rem;
  }

  #wrapper > section.intro > header:before {
    margin-left: calc(50vw - 8rem);
  }

  #wrapper > section:last-of-type > header:after {
    left: calc(50vw - 4rem - 0.25rem + 1px);
  }

  #wrapper > section.intro > header > * {
    transition:
      transform 1s ease,
      opacity 1s ease;
  }

  body.is-preload #wrapper > section.intro > header {
    transform: none;
  }

  body.is-preload #wrapper > section.intro > header > * {
    transform: translate(-0.5rem);
    opacity: 0;
  }

  body.is-preload #wrapper > section.intro > .content {
    transform: none;
  }
}

/* ==========================================================================
   Responsive: Medium (max-width: 1152px) - Stacked Layout
   ========================================================================== */

@media screen and (max-width: 1152px) {
  #wrapper {
    padding: 0;
  }

  #wrapper:before {
    display: none;
  }

  #wrapper section {
    grid-template-areas: "header" "content" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    margin: 6rem 0 0 0;
  }

  #wrapper section > header {
    justify-self: start;
    padding: 0;
    text-align: left;
    width: 100%;
  }

  #wrapper section > header ul.actions {
    justify-content: flex-start;
  }

  #wrapper section > .content {
    padding: 0;
    width: 100%;
    overflow-x: hidden;
  }

  #wrapper > section {
    margin: 0;
  }

  #wrapper > section > header {
    background-attachment: fixed;
    background-color: #fb0404;
    background-position: 25% 50%;
    background-repeat: repeat-y;
    background-size: 40rem auto;
    padding: 4rem;
  }

  #wrapper > section > header > * {
    max-width: 25rem;
  }

  #wrapper > section > header > :last-child {
    margin-bottom: 0;
  }

  #wrapper > section > header:before,
  #wrapper > section > header h1:before,
  #wrapper > section > header h2:before,
  #wrapper > section > header h1:after,
  #wrapper > section > header h2:after {
    display: none;
  }

  #wrapper > section > .content {
    padding: 4rem;
  }

  #wrapper > section > .content > :last-child {
    margin-bottom: 0;
  }

  #wrapper > section > .content > section {
    left: 0;
    margin: 4rem 0;
  }

  #wrapper > section > .content > section:first-child {
    margin-top: 0;
  }

  #wrapper > section > .content > section > header {
    width: 100%;
  }

  #wrapper > section > .content > section:last-child {
    margin-bottom: 0;
  }

  #wrapper > section.intro {
    margin-bottom: 0;
  }

  #wrapper > section.intro > header {
    margin-bottom: 0;
    padding: 8rem 4rem 5rem 4rem;
  }

  #wrapper > section.intro > header ul.actions {
    display: none;
  }

  #wrapper > section.intro > header > * {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  #wrapper > section.intro > header:before {
    margin-left: 0;
  }

  #wrapper > section:last-of-type > header:after {
    display: none;
  }

  #wrapper > section.intro > header > * {
    width: 100%;
  }
}

/* ==========================================================================
   Responsive: Small (max-width: 736px)
   ========================================================================== */

@media screen and (max-width: 736px) {
  #wrapper section {
    margin: 3rem 0 0 0;
  }

  #wrapper > section {
    margin: 0;
  }

  #wrapper > section > header {
    padding: 3rem 2rem;
  }

  #wrapper > section > .content {
    padding: 3rem 2rem;
  }

  #wrapper > section > .content > section {
    margin: 3rem 0;
  }

  #wrapper > section.intro > header {
    padding: 5.5rem 2rem 2.5rem 2rem;
  }
}

/* ==========================================================================
   Responsive: Extra Small (max-width: 360px)
   ========================================================================== */

@media screen and (max-width: 360px) {
  #wrapper section {
    margin: 2.25rem 0 0 0;
  }

  #wrapper > section {
    margin: 0;
  }

  #wrapper > section > header {
    padding: 2.25rem 1.5rem;
  }

  #wrapper > section > .content {
    padding: 2.25rem 1.5rem;
  }

  #wrapper > section > .content > section {
    margin: 2.25rem 0;
  }

  #wrapper > section.intro > header {
    padding: 4.875rem 1.5rem 1.875rem 1.5rem;
  }
}

/* ==========================================================================
   Mobile-specific
   ========================================================================== */

body.is-mobile #wrapper:before {
  background-attachment: scroll;
  background-position: 50% -3%;
  background-repeat: repeat-y;
  background-size: 150% auto;
}

body.is-mobile #wrapper > section > header {
  background-attachment: scroll;
  background-position: 25% 50%;
}

body.is-mobile #wrapper > section.intro > header {
  background-position: 25% 23%;
}

/* ==========================================================================
   Custom Utilities
   ========================================================================== */

.black-text {
  color: #000000;
}
